<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloProject"
        >
        <!--        tools:targetApi="31"        -->
        <!--        Lint : 안드로이드 스튜디오에서 제공하는 코드 스캔 도구       -->
        <!--        앱 실행 또는 테스트 케이스 작성 없이 코드의 구조적 품질 문제를 감지하고 수정 가능     -->
        <!--        lint 검사를 수행할 때, 코드가 특정 api레벨 이상을 대상으로 작성되었음을 지정한다.      -->
        <activity
            android:name="android.study.helloproject.MainActivity"
            android:exported="true">
            <intent-filter>
                <!--         앱의 진입점임을 나타낸다. 앱이 시작될 때 처음으로 실행되는 액티비티라는 뜻 -->
                <action android:name="android.intent.action.MAIN" />

                <!--                시스템 애플리케이션 실행기                  -->
                <!--                이 액티비티의 아이콘이 시스템의 앱 시작 관리자에게 배치되어야 한다는 것을 의미한다.     -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="android.study.helloproject.LoginActivity"/>
        <activity
            android:name="android.study.helloproject.JoinActivity"
            android:exported="true">
<!--            애플리케이션에서 해당 컴포넌트(Activity, Service, BroadcastReceiver, ContentProvider 등)가 앱 외부에서 호출될 수 있는지를 명시하는 속성이다.-->
            <intent-filter>
<!--                VIEW 액션은 일반적으로 어떤 데이터를 보기 위한 용도로 사용된다.           -->
                <action android:name="android.intent.action.VIEW"/>
<!--                이 액티비티가 암시적 Intent에 의해 실행될 수 있도록 기본 카테고리로 설정.               -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="android.study.helloproject.LoginResultActivity"/>
    </application>

</manifest>